__pycache__/
*.pyc
*.pyo
.env
.venv
venv/
*.egg-info/
dist/
build/
.DS_Store
node_modules/
*.log
mlflow_data/
data/processed/train.csv
data/features/
data/raw/Loan_Dataset.csv
*.pkl
*.joblib
notebooks/
dvc_setup.sh
docs/
# Node modules
node_modules/
frontend/node_modules/
mlruns/
Miniconda3-*.sh
monitoring/alertmanager.yml